nz-header.navbar {
  background-color: transparent;
  height: 138px;
  line-height: 23px;
  padding-top: 30px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  &.navbar-dark {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.5);
  }
  .navbar-toggler {
    border: none;
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28179, 236, 154, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
      width: 2rem;
      height: 2rem;
    }
  }
  .logo-container.navbar-brand {
    display: flex;
    height: 100%;
    margin: 0;
    a {
      display: flex;
      img {
      margin: auto 0;
      max-height: 65%;
      vertical-align: middle;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      }
    }
  }
  @media(max-width:1440px) {
    padding-top: 0;
  }
  @media(max-width:580px) {
    height: 80px;
    padding: 0 20px;
  }
    .logo-container.navbar-brand {
      width: 25%;
      margin-right: 0;
      min-width: 110px;
      img {
        height: auto;
      }
    }
    .button-container {
      display: flex;
      align-items: center;
      margin: 0 auto;
      button.ant-btn {
        border-radius: 50px;
        font-size: 1em;
        height: 70px;
        padding: 0;
        white-space: normal;
        width: 110px;
        @media(min-width:981px) {
          font-size: 1.25em;
          height: 80px;
          width: 145px;
        }
        @media(max-width:480px) {
          font-size: .75em;
          height: 50px;
          width: 90px;
        }
      }
    }
    .navbar-toggler {
      width: 25%;
      text-align: right;
      @media(max-width:480px) {
        width: 15%;
      }
    }
  .menu-container {
    flex-grow: unset;
    justify-content: center;
    // min-width: 600px;
    @media(max-width:980px) {
      flex-grow: 1;
      &.show, &.collapsing {
        background-color: white;
        ul {
          color: black;
        }
      }
    }
  }
}

button {
  background: none;
  border-color: #b3ec9a;
  border-width: 5px;
  color: #b3ec9a;
  font-size: 1.1em;
  font-family: Rubik, Arial, Helvetica, sans-serif;
  height: 40px;
}

.ant-menu {
  background: none;
  color: white;
  font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2em;
}

.ant-menu-submenu {
  // min-width: 150px;
  text-align: center;
  margin: 0 20px 0 0!important;
  &:last-of-type {
    margin-right: 0;
  }
}

.ant-menu-horizontal {
  border: none;
}
