nz-header {
  height: 80px;
  max-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.button-container {
  display: flex;
  align-items: center;
}

button {
  background: none;
  border-color: #b3ec9a;
  border-width: 5px;
  color: #b3ec9a;
  font-size: 1.1em;
  font-family: Rubik, Arial, Helvetica, sans-serif;
  height: 40px;
}

.menu-container {
  min-width: 600px;
  display: flex;
  justify-content: center;
}

.ant-menu {
  background: none;
  color: white;
  font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2em;
}

.ant-menu-submenu {
  min-width: 150px;
  text-align: center;
}

.ant-menu-horizontal {
  border: none;
}
