nz-header.navbar-dark {
  height: 80px;
  max-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.5);
  @media(max-width:980px) {
    padding: 0 20px;
  }
  .navbar-toggler {
    border: none;
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28179, 236, 154, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
      width: 2rem;
      height: 2rem;
    }
  }
  @media(max-width:980px) {
    .logo-container.navbar-brand {
      width: 25%;
      margin-right: 0;
      img {
        height: auto;
        max-width: 127px;
        width: 100%;
      }
    }
    .button-container button.ant-btn {
      font-size: 1em;
      height: 60px;
      padding: 0;
      white-space: normal;
      width: 95px;
    }
  }
  .menu-container {
    min-width: 600px;
    justify-content: center;
    @media(max-width:980px) {
      &.show, &.collapsing {
        background-color: white;
        ul {
          color: black;
        }
      }
    }
  }
}

.button-container {
  display: flex;
  align-items: center;
}

button {
  background: none;
  border-color: #b3ec9a;
  border-width: 5px;
  color: #b3ec9a;
  font-size: 1.1em;
  font-family: Rubik, Arial, Helvetica, sans-serif;
  height: 40px;
}



.ant-menu {
  background: none;
  color: white;
  font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2em;
}

.ant-menu-submenu {
  min-width: 150px;
  text-align: center;
}

.ant-menu-horizontal {
  border: none;
}
