<nz-header class="navbar navbar-expand-lg" (scroll)="onWindowScroll($event);">
  <div class="logo-container navbar-brand">
    <a href="/home">
      <img src="/assets/images/qrisq-logo-3d.png" alt="Qrisq" />
    </a>
  </div>

  <div class="button-container">
    <button nz-button nzShape="round" nzGhost>Hurricane Viewer</button>
  </div>

  <ng-template #submenuTitleStormDataTpl>
    Storm Data
    <i nz-icon nzType="down"></i>
  </ng-template>

  <ng-template #submenuTitleServicesTpl>
    Services
    <i nz-icon nzType="down"></i>
  </ng-template>

  <ng-template #submenuTitleLoginTpl>
    Login
    <i nz-icon nzType="down"></i>
  </ng-template>

  <ng-template #submenuTitleUserTpl>
    Hi, {{ userFirstName }}
    <i nz-icon nzType="down"></i>
  </ng-template>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation" (click)="isMenuCollapsed = !isMenuCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngbCollapse]="isMenuCollapsed" class="menu-container collapse navbar-collapse" id="navbarToggler" role="navigation">
    <ul class="navbar-nav" nz-menu nzMode="horizontal">
      <li nz-submenu [nzTitle]="submenuTitleStormDataTpl">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['storm-data/forecast']">Forecast</a>
          </li>

          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['storm-data/hindcast']">Hindcast</a>
          </li>

          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['storm-data/historical']">Historical</a>
          </li>

          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['storm-data/faq']">FAQ</a>
          </li>
        </ul>
      </li>

      <li nz-submenu [nzTitle]="submenuTitleServicesTpl">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['services/homeowners']">Homeowners</a>
          </li>

          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['services/government']">Government</a>
          </li>

          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['services/insurance']">Insurance</a>
          </li>
        </ul>
      </li>

      <div *ngIf="isUserLogin; then userMenuItem; else loginMenuItem"></div>
      <ng-template #loginMenuItem
        ><li nz-submenu [nzTitle]="submenuTitleLoginTpl">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a [routerLink]="['identity/login']">Account Login</a>
            </li>

            <li nz-menu-item nzMatchRouter>
              <a [routerLink]="['onboarding']">Register</a>
            </li>

            <li nz-menu-item nzMatchRouter>
              <a [routerLink]="['contact-us']">Contact Us</a>
            </li>
          </ul>
        </li></ng-template
      >
      <ng-template #userMenuItem
        ><li nz-submenu [nzTitle]="submenuTitleUserTpl">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a [routerLink]="['hurricane-viewer/wind-risk']">Billing Info</a>
            </li>

            <li nz-menu-item nzMatchRouter>
              <a [routerLink]="['hurricane-viewer/wind-risk']"
                >Contact Information</a
              >
            </li>

            <li nz-menu-item nzMatchRouter>
              <a [routerLink]="['hurricane-viewer/wind-risk']">Contact Us</a>
            </li>

            <li nz-menu-item nzMatchRouter>
              <a [routerLink]="['hurricane-viewer/wind-risk']"
                >Cancel Subscription</a
              >
            </li>

            <li nz-menu-item nzMatchRouter>
              <a [routerLink]="['hurricane-viewer/wind-risk']">Logout</a>
            </li>
          </ul>
        </li></ng-template
      >
    </ul>
  </div>
</nz-header>
