// Global banner styles that are not part of the banner component
qrisq-banner {
  .ant-card-body {
    max-height: 83vh;
    padding: 16% 8%;
    @media(max-width: 1439.5px){
      padding-left: 0;
      padding-right: 0;
    }
  }
  .banner-content {
    margin-top: 25px;
    max-width: 880px;
  }
  h1 {
    color: #fff;
    font-size: 72px;
    font-weight: 500;
    margin-bottom: 30px;
    @media(min-width:1440px){
      font-size: 80px;
      margin-top: 30px;
    }
    @media(max-width:1439.5px){
      font-size: 66px;
      margin-top: 30px;
    }
    @media(max-width:1200px){
      font-size: 50px;
    }
    @media(max-width:768px){
      font-size: 40px;
      margin-top: 30px;
    }
  }
  p {
    color: #fff;
    font-size: 28px;
    line-height: 1.5em!important;
  }
  .button-container {
    width: 100%;
    text-align: right;
    @media(max-width:980px) {
      text-align: center;
    }
  }
  button {
    width: 160px;
  }
}