@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto.ttf) format('truetype'),
    url(../fonts/Roboto-Bold.ttf) format('truetype') font-weight-bold;
}

@font-face {
  font-family: 'Oswald';
  src: local('Oswald'), url(../fonts/Oswald.ttf) format('truetype');
}

@font-face {
  font-family: 'Muli';
  src: local('Muli'), url(../fonts/Muli.ttf) format('truetype');
}
