<div class="main-container">
  <!-- banner -->
  <qr-banner [imageUrl]="'/assets/images/main-background.jpg'">
    <div class="banner-content">
      <h1>Q-risq Hurricane Viewer</h1>
      <p>Free Version</p>
    </div>
  </qr-banner>
  <div class="page-content">
    <div class="storm-section">
      <ng-container *ngIf="stormData$ | async as stormData">
        <qr-storm-map
          [surgeGeoJSON]="stormData.surgeGeoJSON"
          [lineGeoJSON]="stormData.lineGeoJSON"
          [pointsGeoJSON]="stormData.pointsGeoJSON"
          [polygonsGeoJSON]="stormData.polygonsGeoJSON"
          [windGeoJSON]="stormData.windGeoJSON"
          [windData]="stormData.windGrib2JSON"
          [userLattitude]="stormData.lattitude"
          [userLongitude]="stormData.longitude"
          [surgeRisk]="stormData.surgeRisk"
          [stormDistance]="stormData.stormDistance"
          [restriction]="mapRestriction"
          [zoom]="mapZoom"
          [mode]="mapMode"
          [freeMode]="true"
          [userDataAvailable]="false"
          (modeChange)="onMapModeChange($event)"
          (trackAndConeChanged)="onTrackAndConeChanged($event)"
          (mapLoaded)="onMapLoaded($event)"
        >
        </qr-storm-map>
      </ng-container>

      <ng-container *ngIf="loadingMap">
        <nz-spin [nzSpinning]="loadingMap">
          <div class="loadingContainer"></div>
        </nz-spin>
      </ng-container>
    </div>

    <nz-divider></nz-divider>
  </div>
</div>
