

nz-card.form {
  background-color: #ebebeb;
  width: 500px;
  max-width: 500px;
  margin-bottom: 100px;
}

nz-card.form p {
  font-family: Rubik, Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  text-align: center;
}

