<nz-card class="form" nzBorderless>
  <!-- credit card information form -->
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <!-- first name -->
    <nz-form-item>
      <nz-form-control nzErrorTip="Please enter your First Name!">
        <input
          nzSize="large"
          nz-input
          nzSize="large"
          type="text"
          formControlName="firstName"
          id="firstName"
          placeholder="First Name"
        />
      </nz-form-control>
    </nz-form-item>

    <!-- last name -->
    <nz-form-item>
      <nz-form-control nzErrorTip="Please enter your Last Name!">
        <input
          nzSize="large"
          nz-input
          type="text "
          formControlName="lastName"
          id="lastName"
          placeholder="Last Name"
        />
      </nz-form-control>
    </nz-form-item>

    <!-- card number -->
    <nz-form-item>
      <nz-form-control nzErrorTip="Please enter your Card Number!">
        <input
          nzSize="large"
          nz-input
          type="number"
          formControlName="cardNumber"
          id="cardNumber"
          placeholder="Card Number"
        />
      </nz-form-control>
    </nz-form-item>

    <!-- expiration date -->
    <nz-form-item>
      <nz-form-control nzErrorTip="Expiration date input not valid!">
        <input
          nzSize="large"
          nz-input
          type="number"
          formControlName="expirationDate"
          id="expirationDate"
          placeholder="Expiration Date"
        />
      </nz-form-control>
    </nz-form-item>

    <!-- CVC -->
    <nz-form-item>
      <nz-form-control nzErrorTip="CVC input not valid!">
        <input
          nzSize="large"
          nz-input
          type="number"
          formControlName="cvc"
          id="cvc"
          placeholder="CVC"
          e
        />
      </nz-form-control>
    </nz-form-item>

    <!-- billing address -->
    <nz-form-item>
      <nz-form-control nzErrorTip="Please enter your Billing Address!">
        <input
          nzSize="large"
          nz-input
          type="text "
          formControlName="billingAddress"
          id="billingAddress"
          placeholder="Billing Address"
        />
      </nz-form-control>
    </nz-form-item>

    <!-- city -->
    <nz-form-item>
      <nz-form-control nzErrorTip="Please enter your City!">
        <input
          nzSize="large"
          nz-input
          type="text "
          formControlName="city"
          id="city"
          placeholder="City"
        />
      </nz-form-control>
    </nz-form-item>

    <!-- city -->
    <nz-form-item>
      <nz-form-control nzErrorTip="Please enter your State!">
        <input
          nzSize="large"
          nz-input
          type="text "
          formControlName="state"
          id="state"
          placeholder="State"
        />
      </nz-form-control>
    </nz-form-item>

    <!-- zipPostalCode -->
    <nz-form-item>
      <nz-form-control nzErrorTip="Please enter your Zip/Postal Code!">
        <input
          nzSize="large"
          nz-input
          type="text "
          formControlName="zipPostalCode"
          id="zipPostalCode"
          placeholder="Zip/Postal Code"
        />
      </nz-form-control>
    </nz-form-item>

    <!-- submit -->
    <nz-form-item>
      <nz-form-control>
        <button
          class="submit-button"
          nz-button
          nzType="primary"
          nzDanger
          nzSize="large"
          nzBlock
        >
          Submit
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>
