.logo {
  height: 50px;
}

[nz-menu] {
  line-height: 64px;
}

nz-layout {
  background-image: -webkit-linear-gradient(
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url('../../assets/images/hurricane-bg.jpg');
  background-image: -moz-linear-gradient(
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url('../../assets/images/hurricane-bg.jpg');
  background-image: -o-linear-gradient(
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url('../../assets/images/hurricane-bg.jpg');
  background-image: -ms-linear-gradient(
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url('../../assets/images/hurricane-bg.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%),
    url('../../assets/images/hurricane-bg.jpg');
  background-repeat: no-repeat;
  min-height: 100vh;
}

nz-header {
  height: 138px;
  display: flex;
  align-items: center;
  background: none;
}

nz-card {
  /* background-color: fade(#000, 50%); */
  background: rgba(0, 0, 0, 0.5);
  border: none;
  text-align: center;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  /* padding: 30px; */
  /* max-width: 70%;  */
}

nz-content {
  padding: 24px 100px;
  min-height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

.green {
  color: #7cb305;
}

.ant-btn-primary {
  background-color: #5b8c00;
  border-color: #5b8c00;
  min-width: 140px;
}

nz-footer {
  text-align: center;
  background: none;
}

nz-input-group {
  padding-right: 20px;
}

.search-container {
  padding: 0px 50px;
  margin-bottom: 20px;
}

.not-in-service-area-message {
  font-size: 3em;
}

.go-button {
  font-size: 1.8em;
  font-weight: 400;
  height: 50px;
  margin-bottom: 20px;
}

h1 {
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 4em;
  line-height: 1.2em;
  font-weight: 550;
  margin: 50px 0px;
}
