<div class="container">
  <h3><strong>Track Storm Activities</strong></h3>
  <div class="image-container">
    <img nz-image nzSrc="/assets/images/ourservice-botton.jpg" alt="" />
  </div>

  <p>
    Stay current on storm activity with the National Hurricane Center’s
    up-to-date weather information for tropical storms and hurricanes.
  </p>
  <button
    nz-button
    nzType="primary"
    nzSize="large"
    nzDanger
    nzBlock
    (click)="onGoToPageClick($event)"
  >
    Visit the National Hurricane Center
  </button>
</div>
