<div class="main-container">
  <!-- banner -->

  <qr-banner [imageUrl]="'/assets/images/main-banner-forcast.jpg'">
    <div class="banner-content">
      <h1>Forecast: Prior to landfall</h1>
      <p>
        Know what your surge and wind intensity will be well before it makes
        landfall.
      </p>
    </div>
  </qr-banner>

  <div class="page-content">
    <!-- content -->
    <div nz-row class="section-content">
      <div nz-col nzOffset="8" nzSpan="16">
        <div class="inner-container">
          <img nz-image nzSrc="/assets/images/icon-triangle-green.png" alt="" />
          <p>
            Impacts of storm surge from<strong> tropical events</strong> can be
            far-reaching and catastrophic along the<strong>
              United States Atlantic and Gulf of Mexico coastlines</strong
            >. <br />Q-risq Analytics utilizes
            <strong
              >proprietary winds and atmospheric pressure forecasts</strong
            >
            to drive the Advanced CIRCulation (ADCIRC) storm surge model,
            accurately predicting when, where, and to what extent flooding will
            inundate coastal communities with greater precision than other
            models. This enables property owners and decision makers to identify
            risk and plan for mitigation and response before the storm occurs.
          </p>
        </div>
      </div>
    </div>

    <!-- content-2 -->
    <div nz-row class="section-content-2">
      <div nz-col nzSpan="12">
        <div class="text-container">
          <p>
            When received in advance, each address is geocoded with a precise
            latitude and longitude, entered into our secure
            client&nbsp;database, and digitally represented on our map viewer.
          </p>
          <p>
            Properties can be close to each other but assigned different risk
            levels; our proprietary&nbsp; Storm Surge and Wind Forecasting Model
            results are layered over high precision ground elevations. Simply
            put, properties that sit higher will not be as affected by a given
            amount of water.
          </p>
          <p>
            With each National Hurricane Center advisory update, every address
            is reassessed to determine individual risk based on its forecasted
            flood depth and maximum wind speed.
          </p>
          <p>
            Ensemble forecasting provides for different storm track scenarios.
            Once processed against geocoded properties, exposure is assessed,
            and property owners are alerted to potential dangers.
          </p>
        </div>
      </div>

      <div nz-col nzSpan="12">
        <div class="image-container">
          <img
            nz-image
            nzSrc="/assets/images/forcast-content-text.jpg"
            alt=""
          />
        </div>
      </div>
    </div>

    <nz-divider></nz-divider>

    <!-- footer -->
    <div nz-row class="section-footer">
      <div nz-col nzSpan="16" class="section-footer-trackstorm">
        <qr-track-storm-card></qr-track-storm-card>
      </div>

      <div nz-col nzSpan="8" class="section-footer-messageform">
        <qr-contact-us-form></qr-contact-us-form>
      </div>
    </div>
  </div>
</div>
