<nz-layout>
  <nz-header>
    <div class="logo">
      <img
        nz-image
        height="89px"
        nzSrc="../../assets/images/qrisq-logo-3d.png"
        alt=""
      />
    </div>
    
  </nz-header>
  <nz-content>
    <div class="inner-content">
      <div *ngIf="showSearchBox">
        <nz-card>
          <div class="title">
            <h1>
              Enter your address to see if
              <span class="green">Hurricane Storm Surge</span> and
              <span class="green">Wind</span> data is available for your
              property
            </h1>
          </div>

          <div class="search-container">
            <nz-input-group
              nzSearch
              nzSize="large"
              [nzAddOnAfter]="suffixButton"
            >
              <input
                nz-input
                ngx-google-places-autocomplete
                #placesRef="ngx-places"
                nzSize="large"
                placeholder="Enter your address"
                (onAddressChange)="onChange($event)"
              />
            </nz-input-group>

            <ng-template #suffixButton>
              <button
                (click)="OnSearch()"
                nz-button
                nzType="primary"
                nzSize="large"
                nzSearch
              >
                Search
              </button>
            </ng-template>
          </div>
        </nz-card>
      </div>
    </div>

    <div *ngIf="showNotInServiceAreaMessage">
      <nz-card>
        <h1 class="not-in-service-area-message">
          Sorry, but Hurricane Storm Surge & Wind Data is not available for your
          location. But you can use our Free App to stay up to date.
        </h1>
      </nz-card>
    </div>

    <div *ngIf="showInServiceAreaMessage">
      <nz-card>
        <h1 class="in-service-area-message">
          Great News! Hurricane Storm Surge & Wind Data is available for your
          location. Register here:
        </h1>
        <button
          class="go-button"
          nz-button
          nzType="primary"
          [nzSize]="large"
          nzShape="round"
        >
          GO
        </button>
      </nz-card>
    </div>
  </nz-content>
  <nz-footer>Qrisq ©2020</nz-footer>
</nz-layout>
