.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

nz-card.banner {
  background-image: -webkit-linear-gradient(
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url('../../../../../assets/images/hurricane-bg.jpg');
  background-image: -moz-linear-gradient(
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url('../../../../../assets/images/hurricane-bg.jpg');
  background-image: -o-linear-gradient(
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url('../../../../../assets/images/hurricane-bg.jpg');
  background-image: -ms-linear-gradient(
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url('../../../../../assets/images/hurricane-bg.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%),
    url('../../../../../assets/images/hurricane-bg.jpg');

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 661px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  width: 100%;
  margin-bottom: 32px;
}

nz-card h2 {
  color: #fff;
  font-size: 3em;
  font-family: Rubik, Arial, Helvetica, sans-serif;
  font-weight: 600;
}

nz-card p {
  color: #fff;
  font-size: 2.1m;
  font-family: Rubik, Arial, Helvetica, sans-serif;
}

.inner-container {
  width: 100%;
  max-width: 880px;
}

.pricing p {
  color: #262626;
  font-size: 2.1m;
  font-family: Rubik, Arial, Helvetica, sans-serif;
}

.pricing h2 {
  color: #fff;
  font-size: 3em;
  font-family: Rubik, Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.pricing h3 {
  color: #262626;
  font-size: 3em;
  font-family: Rubik, Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin: 0px;
}

.pricing h4 {
  color: #262626;
  font-size: 2.5em;
  font-family: Rubik, Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.pricing button {
  min-width: 300px;
}

.price-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nz-card.pricing {
  background-image: url('../../../../../assets/images/bg-graph.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  width: 100%;
  margin-bottom: 32px;
}

.pricing nz-row {
  max-width: 500px;
  width: 500px;
  padding: 0px 16px;
  margin: 16px 0px;
}

.pricing nz-col {
  padding: 0px 35px;
}

.bottom-text {
  font-weight: 500;
  margin: 0;
}

[nz-row] {
  max-width: 920px;
  width: 920px;
  padding: 0px 16px;
  margin: 16px 0px;
}

[nz-col] > p {
  font-family: Rubik, Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  color: #595959;
}

nz-card.form {
  background-color: #ebebeb;
}

nz-input-group {
  margin-bottom: 10px;
}

.form-container {
  background-color: #ebebeb;
}

.legend-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.legend-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.legend-container p {
  font-family: Rubik, Arial, Helvetica, sans-serif;
  font-size: 1, 2rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.legend-container .text-blue {
  color: #0050b3;
}

.legend-container .text-red {
  color: #cf1322;
}

.map-container > img {
  max-width: 100%;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
}

[nz-row] {
  max-width: 880px;
  width: 880px;
  padding: 0px 16px;
  margin: 16px 0px;
}

[nz-row].service-section {
  background-color: #ebebeb;
  max-height: 370px;
}

[nz-col].service-section-image {
  max-height: 370px;
  display: flex;
  flex-direction: column;
}

[nz-col].service-section-image > img {
  max-width: 100%;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
}

[nz-col] > img {
  max-width: 100%;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
}

h4 {
  font-family: Rubik, Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 5px;
}

h5 {
  font-family: Rubik, Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  color: #2f5597 !important;
  font-weight: 600;
}

[nzDanger] {
  margin-top: 10px;
}
