<nz-layout>
  <nz-header>
    <div class="logo">
      <img
        nz-image
        height="89px"
        nzSrc="../../assets/images/qrisq-logo-3d.png"
        alt=""
      />
    </div>
  </nz-header>

  <nz-content>
    <nz-card class="form-card">
      <form
        [nzLayout]="'vertical'"
        nz-form
        [formGroup]="validateForm"
        (ngSubmit)="submitForm()"
      >
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email"
            ><span class="form-label">Email</span></nz-form-label
          >
          <nz-form-control
            [nzSm]="24"
            [nzXs]="24"
            nzErrorTip="The input is not valid E-mail!"
          >
            <input nz-input formControlName="email" id="email" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired
            ><span class="form-label">Password</span></nz-form-label
          >
          <nz-form-control
            [nzSm]="24"
            [nzXs]="24"
            nzErrorTip="Please input your password!"
          >
            <input
              nz-input
              type="password"
              id="password"
              formControlName="password"
              (ngModelChange)="updateConfirmValidator()"
            />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label
            [nzSm]="10"
            [nzXs]="24"
            nzFor="confirm_password"
            nzRequired
            ><span class="form-label">Confirm Password</span></nz-form-label
          >
          <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="errorTpl">
            <input
              nz-input
              type="password"
              formControlName="confirm_password"
              id="confirm_password"
            />
            <ng-template #errorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">
                Please confirm your password!
              </ng-container>
              <ng-container *ngIf="control.hasError('confirm')">
                Two passwords that you enter is inconsistent!
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>

        <!-- First Name -->
        <nz-form-item>
          <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="first_name" nzRequired>
            <span class="form-label">First Name</span>
          </nz-form-label>
          <nz-form-control
            [nzSm]="24"
            [nzXs]="24"
            nzErrorTip="Please input your first name!"
          >
            <input nz-input id="first_name" formControlName="first_name" />
          </nz-form-control>
        </nz-form-item>

        <!-- Last Name -->
        <nz-form-item>
          <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="last_name" nzRequired>
            <span class="form-label">Last Name</span>
          </nz-form-label>
          <nz-form-control
            [nzSm]="24"
            [nzXs]="24"
            nzErrorTip="Please input your last name!"
          >
            <input nz-input id="last_name" formControlName="last_name" />
          </nz-form-control>
        </nz-form-item>

        <!-- Address -->
        <nz-form-item>
          <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="address" nzRequired
            ><span class="form-label">Address</span></nz-form-label
          >
          <nz-form-control
            [nzSm]="24"
            [nzXs]="24"
            nzErrorTip="Please input your address!"
          >
            <input nz-input id="address" formControlName="address" />
          </nz-form-control>
        </nz-form-item>

        <!-- Phone Number -->
        <nz-form-item>
          <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="phoneNumber" nzRequired
            ><span class="form-label">Phone Number</span></nz-form-label
          >
          <nz-form-control
            [nzSm]="10"
            [nzXs]="10"
            [nzValidateStatus]="validateForm.controls['phone_number']"
            nzErrorTip="Please input your phone number!"
          >
            <input formControlName="phone_number" id="phone_number" nz-input />
          </nz-form-control>
        </nz-form-item>

        <!-- Street Number -->
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="street_number" nzRequired
            ><span class="form-label">Street Number</span></nz-form-label
          >
          <nz-form-control
            [nzSm]="10"
            [nzXs]="10"
            nzErrorTip="Please input your street number!"
          >
            <input
              nz-input
              id="street_number"
              formControlName="street_number"
            />
          </nz-form-control>
        </nz-form-item>

        <!-- City -->
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="city" nzRequired
            ><span class="form-label">City</span></nz-form-label
          >
          <nz-form-control
            [nzSm]="10"
            [nzXs]="10"
            nzErrorTip="Please input your city!"
          >
            <input nz-input id="city" formControlName="city" />
          </nz-form-control>
        </nz-form-item>

        <!-- State -->
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="state" nzRequired
            ><span class="form-label">State</span></nz-form-label
          >
          <nz-form-control
            [nzSm]="10"
            [nzXs]="10"
            nzErrorTip="Please input your state!"
          >
            <input nz-input id="state" formControlName="state" />
          </nz-form-control>
        </nz-form-item>

        <!-- Zip Code -->
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="zip_code" nzRequired
            ><span class="form-label">Zip Code</span></nz-form-label
          >
          <nz-form-control
            [nzSm]="10"
            [nzXs]="10"
            nzErrorTip="Please input your zip_code!"
          >
            <input nz-input id="zip_code" formControlName="zip_code" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item nz-row class="register-area">
          <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button nzType="primary">Next</button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-card>
  </nz-content>
  <!-- <nz-content> -->
  <!-- <div class="inner-content">
      <div *ngIf="showSearchBox">
        <nz-card>
          <div class="title">
            <h1>
              Enter yo2ur address to see if
              <span class="green">Hurricane Storm Surge</span> and
              <span class="green">Wind</span> data is available for your
              property
            </h1>
          </div>

          <div class="search-container">
            <nz-input-group
              nzSearch
              nzSize="large"
              [nzAddOnAfter]="suffixButton"
            >
              <input
                nz-input
                ngx-google-places-autocomplete
                #placesRef="ngx-places"
                nzSize="large"
                placeholder="Enter your address"
                (onAddressChange)="onChange($event)"
              />
            </nz-input-group>

            <ng-template #suffixButton>
              <button
                (click)="OnSearch()"
                nz-button
                nzType="primary"
                nzSize="large"
                nzSearch
              >
                Search
              </button>
            </ng-template>
          </div>
        </nz-card>
      </div>
    </div>

    <div *ngIf="showNotInServiceAreaMessage">
      <nz-card>
        <h1 class="not-in-service-area-message">
          Sorry, but Hurricane Storm Surge & Wind Data is not available for your
          location. But you can use our Free App to stay up to date.
        </h1>
      </nz-card>
    </div>

    <div *ngIf="showInServiceAreaMessage">
      <nz-card>
        <h1 class="in-service-area-message">
          Great News! Hurricane Storm Surge & Wind Data is available for your
          location. Register here:
        </h1>
        <button
          class="go-button"
          nz-button
          nzType="primary"
          [nzSize]="large"
          nzShape="round"
        >
          GO
        </button>
      </nz-card>
    </div>
  </nz-content> -->
  <!-- <nz-footer>Qrisq ©2020</nz-footer> -->
</nz-layout>
