<div class="main-container">
  <!-- banner -->

  <qrisq-banner [imageUrl]="'/assets/images/main-banner-geolocation.png'">
    <div class="banner-content">
      <h1>Property Geolocation</h1>
      <p>
        Follow the instruction below to accurately <br />
        identify your service address.
      </p>
    </div>
  </qrisq-banner>

  <div class="page-content">
    <!-- section-content-1 -->
    <div nz-row class="section-content-1">
      <!-- col-1 -->

      <div nz-col class="col-1" nzSpan="24">
        <div class="img-wrapper">
          <img nz-image nzSrc="/assets/images/icon-triangle-green.png" alt="" />
          <p>
            Drag the red pin so it sits on the roof of your service address.
          </p>
        </div>
        <div class="attempts-wrapper">
          <p>
            Pin move {{ pinMoveAttempts }} of 5

            <button
              nz-button
              nzType="text"
              nz-popover
              [(nzPopoverVisible)]="infoPopoverVisible"
              nzPopoverTrigger="click"
              [nzPopoverContent]="contentTemplate"
            >
              <i nz-icon [nzType]="'info-circle'"></i>
            </button>
            <ng-template #contentTemplate>
              <div class="info-wrapper">
                <h1>Pin Drag Limit</h1>
                <p>
                  Q-risq limits users to 5 pin-drag attempts. <br />
                  After 5 pin drags, the system contacts <br />
                  Q-risq for further assistance.
                </p>
                <button
                  nz-button
                  nzDanger
                  nzType="primary"
                  (click)="onInfoPopoverClose($event)"
                >
                  Okay
                </button>
              </div>
            </ng-template>
          </p>

          <nz-modal
            [(nzVisible)]="pinAttemptsModalVisible"
            [nzClosable]="false"
            [nzFooter]="null"
          >
            <ng-container *nzModalContent>
              <div class="pinAttemptsModalVisibleWrapper">
                <h1 class="modal-title">Having Trouble?</h1>
                <p class="modal-content">
                  You have moved the location pin more than 5 times. An error
                  report has been sent to Q-risq. For inmediate assistance,
                  call: 1-800-987-4568 or email: info@qrisq.com
                </p>
              </div>
            </ng-container>
          </nz-modal>
        </div>

        <div class="address-wrapper">
          <p>
            {{ formattedAddress }}
          </p>
        </div>
        <div class="map-wrapper">
          <div nz-row nzGutter="24">
            <div nz-col nzSpan="12">
              <agm-map
                [latitude]="lat"
                [longitude]="lng"
                [zoom]="zoom"
                [mapTypeId]="'satellite'"
              >
                <agm-marker
                  [latitude]="lat"
                  [longitude]="lng"
                  [markerDraggable]="true"
                  (dragEnd)="onDragEnd($event)"
                  #mapMarker
                ></agm-marker>
              </agm-map>
            </div>
            <div nz-col nzSpan="12">
              <qrisq-geolocation-street-view [latitude]="lat" [longitude]="lng">
              </qrisq-geolocation-street-view>
            </div>
          </div>
        </div>
        <div class="submit-wrapper">
          <p>
            By clicking the "submit" button below, you verify that the pin is
            placed accurately on your service address.
          </p>
          <button
            nz-button
            nzType="primary"
            nzDanger
            nzSize="large"
            (click)="onSubmit($event)"
          >
            Submit
          </button>
        </div>
      </div>
    </div>

    <nz-divider></nz-divider>

    <!-- footer -->
    <div nz-row class="section-footer">
      <div nz-col nzSpan="16" class="section-footer-trackstorm">
        <h3><strong>Track Storm Activities</strong></h3>
        <img nz-image nzSrc="/assets/images/ourservice-botton.jpg" alt="" />
        <p>
          Stay current on storm activity with the National Hurricane Center’s
          up-to-date weather information for tropical storms and hurricanes.
        </p>
        <button nz-button nzType="primary" nzSize="large" nzDanger nzBlock>
          Visit the National Hurricane Center
        </button>
      </div>

      <div nz-col nzSpan="8" class="section-footer-messageform">
        <h3><strong>Send us a message</strong></h3>
        <div class="form-container">
          <form nz-form [nzLayout]="'vertical'">
            <nz-form-item>
              <nz-form-control>
                <input nz-input placeholder="Name (Required)" />
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-control>
                <input nz-input placeholder="Email (Required)" />
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-control>
                <textarea
                  rows="10"
                  nz-input
                  placeholder="Message (Required)"
                ></textarea>
              </nz-form-control>
            </nz-form-item>

            <button nz-button nzBlock nzType="primary" nzDanger nzSize="large">
              Submit
            </button>

            <p>
              *Please excuse slower than normal response time during a storm
              event.
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
