<div class="main-container">
  <!-- banner -->
  <qrisq-banner [imageUrl]="'/assets/images/main-banner-onboarding.jpg'">
    <div class="banner-content">
      <h1>Q-risq Analytics Gives the Insurance Industry an Advantage</h1>
      <p>
        Before a storm makes landfall, Q-risq Analytics gives an insurance
        company critical data used to alert customers at risk.
      </p>
    </div>
  </qrisq-banner>

  <div class="page-content">
    <!-- section-content-1 -->
    <div nz-row class="section-content-1">
      <div nz-col nzSpan="10" class="col-1">
        <div class="container">
          <div class="text-wrapper">
            <img
              nz-image
              nzSrc="/assets/images/icon-triangle-green.png"
              alt=""
            />
            <p>
              Please enter your address of interest below to see if it's in our
              service area.
            </p>
          </div>
          <div class="form-wrapper">
            <nz-card class="form" nzBorderless>
              <form nz-form>
                <input
                  nz-input
                  ngx-google-places-autocomplete
                  #placesRef="ngx-places"
                  nzSize="large"
                  placeholder="Enter your address"
                  (onAddressChange)="onAddressChange($event)"
                  autocomplete="false"
                />
                <ng-container *ngIf="isLocation$ | async as isLocation"
                  ><button
                    (click)="OnSearch()"
                    nz-button
                    nzType="primary"
                    nzSize="large"
                    nzSearch
                    nzDanger
                    nzBlock
                    nzDisable
                    [disabled]="!isLocation"
                  >
                    Search
                  </button></ng-container
                >
              </form>
            </nz-card>
          </div>
        </div>
      </div>
      <div nz-col nzSpan="14" class="col-2">
        <div class="legend-wrapper">
          <p>
            <span class="text-blue">Blue</span> - Hurricane Wind Service Area
          </p>
          <p>
            <span class="text-red">Red</span> - Hurricane Storm Surge and Wind
            Service
          </p>
        </div>
        <div class="map-wrapper">
          <img
            nz-image
            nzSrc="../../../../assets/images/service-area-map.png"
            alt=""
          />
        </div>
      </div>
    </div>
    <!-- divider -->
    <nz-divider></nz-divider>

    <!-- footer -->
    <div nz-row class="section-footer">
      <div nz-col nzSpan="8" class="section-footer-ourservices">
        <h3><strong>Our Services</strong></h3>
        <img nz-image nzSrc="/assets/images/ourServices.jpg" alt="" />
        <p>
          Knowledge is power. Know what to expect before a storm makes landfall;
          afterward, understand the impact of winds and storm surge with data
          from Q-risq Analytics.
        </p>
        <button nz-button nzType="primary" nzSize="large" nzDanger nzBlock>
          Learn More About Our Services
        </button>
      </div>
      <div nz-col nzSpan="8" class="section-footer-trackstorm">
        <h3><strong>Track Storm Activities</strong></h3>
        <img nz-image nzSrc="/assets/images/track-storm.jpg" alt="" />
        <p>
          Stay current on storm activity with the National Hurricane Center’s
          up-to-date weather information for tropical storms and hurricanes.
        </p>
        <button nz-button nzType="primary" nzSize="large" nzDanger nzBlock>
          Visit the National Hurricane Center
        </button>
      </div>
      <div nz-col nzSpan="8" class="section-footer-messageform">
        <h3><strong>Send us a message</strong></h3>
        <div class="form-container">
          <form nz-form [nzLayout]="'vertical'">
            <nz-form-item>
              <nz-form-control>
                <input nz-input placeholder="Name (Required)" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control>
                <input nz-input placeholder="Email (Required)" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control>
                <textarea
                  rows="10"
                  nz-input
                  placeholder="Message (Required)"
                ></textarea>
              </nz-form-control>
            </nz-form-item>
            <button nz-button nzBlock nzType="primary" nzDanger nzSize="large">
              Submit
            </button>
            <p>
              *Please excuse slower than normal response time during a storm
              event.
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
