nz-footer {
  background-color: #595959;
  max-height: 120px;
  min-height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .menu-container .menu-item {
    color: #fff;
    text-align: left;
    font-family: Rubik, Arial, Helvetica, sans-serif;
  }

  .contact-container > a {
    color: #fff;
    text-align: left;
    font-family: Rubik, Arial, Helvetica, sans-serif;
  }
  @media (max-width: 480px) {
    flex-direction: column;
    max-height: none;
    .menu-container,
    .logo-container,
    .contact-container {
      text-align: center;
      width: 100%;
      > a {
        text-align: center;
      }
    }
    .menu-container {
      order: 2;
    }
    .logo-container {
      order: 1;
    }
    .contact-container {
      order: 3;
    }
  }
}

.menu-item {
  padding: 0;
}

.logo-container {
}
@media (max-width: 480px) {
}

.ant-menu {
  background: none;
  border: none;
  color: #fff;
}

.ant-menu-item {
  a {
    color: #fff;
  }
}
