<nz-layout>
  <nz-header>
    <div class="logo">
      <img
        nz-image
        height="89px"
        nzSrc="../../assets/images/qrisq-logo-3d.png"
        alt=""
      />
    </div>
  </nz-header>
  <nz-content>
    <nz-card>
      <h1 class="not-in-service-area-message">
        Sorry, but Hurricane Storm Surge & Wind Data is not available for your
        location. But you can use our Free App to stay up to date.
      </h1>
    </nz-card>
  </nz-content>
  <!-- <nz-footer>Qrisq ©2020</nz-footer> -->
</nz-layout>
