<div class='container'>
  <h3><strong>Send us a message</strong></h3>
  <div class="form-container">
    <form nz-form [nzLayout]="'vertical'">
      <nz-form-item>
        <nz-form-control>
          <input nz-input placeholder="Name (Required)" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <input nz-input placeholder="Email (Required)" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <textarea
            rows="10"
            nz-input
            placeholder="Message (Required)"
          ></textarea>
        </nz-form-control>
      </nz-form-item>

      <button nz-button nzBlock nzType="primary" nzDanger nzSize="large">
        Submit
      </button>

      <p>*Please excuse slower than normal response time during a storm event.</p>
    </form>
  </div>
</div>
