.section-footer-messageform h3 {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: #2f5597;
  font-weight: 500;
  font-size: 24px;
}

.section-footer-messageform button {
  font-weight: 500;
}

.section-footer-messageform {
  padding: 0px 24px;
}

.section-footer-messageform .form-container {
  background-color: #ebebeb;
  padding: 1.5em;
}

.section-footer-messageform .form-container button {
  margin-bottom: 20px;
}
