.section-content-1 {
  margin-bottom: 30px;
}

.section-content-1 .col-1 .container {
  display: flex;
  flex-direction: column;
}

.section-content-1 .col-1 .container .text-wrapper {
  display: flex;
  padding-top: 20px;
}

.section-content-1 .col-1 .container .text-wrapper p {
  font-size: 1.2rem;
  line-height: 1.4em;
}

.section-content-1 .col-1 .container .text-wrapper img {
  max-width: 100%;
  height: auto;
  max-height: 30px;
  margin-top: 5px;
  margin-bottom: auto;
  margin-right: 10px;
}

.section-content-1 .col-1 .container .text-wrapper .image-container {
  margin-left: 20px;
}

.section-content-1 .col-1 .container .form-wrapper {
  padding: 0px 20px;
}

.section-content-1 .col-1 .container .form-wrapper .form {
  background-color: #ebebeb;
}

.section-content-1 .col-1 .container .form-wrapper .form input {
  margin-bottom: 10px;
  height: 50px;
}

.section-content-1 .col-1 .container .form-wrapper .form button {
  height: 50px;
}

.section-content-1 .col-2 {
  padding: 20px 0px;
}

.section-content-1 .col-2 .legend-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  line-height: 1rem;
  font-weight: bold;
}

.section-content-1 .col-2 .legend-wrapper .text-blue {
  color: #0050b3;
}

.section-content-1 .col-2 .legend-wrapper .text-red {
  color: #cf1322;
}

.section-content-1 .col-2 .map-wrapper img {
  max-width: 100%;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
}
