<div class="main-container">
  <qrisq-banner
    [imageUrl]="
      '/assets/images/main-banner1-2_626d64c0aef3be22948fc57dd1d1fa07.jpg'
    "
  >
    <div class="banner-content">
      <h1>Location-Specific Hurricane & Wind Storm Surge Data</h1>

      <p>
        Q-risq Analytics forecasts Hurricane and Wind & Storm Surge risk at
        specific locations - days before the the storm makes landfall - to help
        you prepare in advance.
      </p>

      <div class="button-container">
        <button nz-button nzGhost nzSize="large" (click)="OnSignUp()">
          Sign Up
        </button>
      </div>
    </div>
  </qrisq-banner>

  <div class="page-content">
    <div class="section-bg-image">
      <div nz-row class="section">
        <div nz-col nzSpan="15">
          <div class="bullet-paragraph-container">
            <img
              nz-image
              class="icon-triangle"
              nzSrc="/assets/images/icon-triangle-green.png"
              alt=""
            />
            <p>
              Q-risq Analytics patented process equips you with site specific
              pre and post-storm analysis, so you know what could happen, how to
              assess damage, and how to recover faster.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- forecast -->

    <div nz-row class="section-forecast">
      <div nz-col nzSpan="12" class="section-forecast-left">
        <h3>FORECAST</h3>

        <h4>Prior to Landfall</h4>
        <p>
          Days before landfall, the Q-risq Analytics team is working at full
          capacity, cont inuously monitoring the storm’s track and intensity to
          provide location specific wind and surge forecast data.
        </p>
        <button nz-button nzType="link" nzSize="large">LEARN MORE</button>
      </div>

      <div nz-col nzSpan="12" class="section-forecast-right">
        <img nz-image nzSrc="/assets/images/forcast.jpg" alt="" />
      </div>
    </div>

    <!-- hindcast -->

    <div nz-row class="section-hindcast">
      <div nz-col nzSpan="12" class="section-hindcast-left">
        <h3>HINDCAST</h3>

        <h4>Post-Event Analysis</h4>
        <p>
          Once the storm has made landfall, Q-risq Analytics focuses on creating
          a report of the storm’s impact. Maximum sustained winds, storm surge,
          and accumulated rainfall are displayed for each address.
        </p>
        <button nz-button nzType="link" nzSize="large">LEARN MORE</button>
      </div>

      <div nz-col nzSpan="12" class="section-hindcast-right">
        <img nz-image nzSrc="/assets/images/post-event-980x568.jpg" alt="" />
      </div>
    </div>

    <!-- divider -->

    <nz-divider></nz-divider>

    <!-- footer -->
    <div nz-row class="section-footer">
      <div nz-col nzSpan="8" class="section-footer-ourservices">
        <h3><strong>Our Services</strong></h3>
        <img nz-image nzSrc="/assets/images/ourServices.jpg" alt="" />
        <p>
          Knowledge is power. Know what to expect before a storm makes landfall;
          afterward, understand the impact of winds and storm surge with data
          from Q-risq Analytics.
        </p>
        <button nz-button nzType="primary" nzSize="large" nzDanger nzBlock>
          Learn More About Our Services
        </button>
      </div>

      <div nz-col nzSpan="8" class="section-footer-trackstorm">
        <h3><strong>Track Storm Activities</strong></h3>
        <img nz-image nzSrc="/assets/images/track-storm.jpg" alt="" />
        <p>
          Stay current on storm activity with the National Hurricane Center’s
          up-to-date weather information for tropical storms and hurricanes.
        </p>
        <button nz-button nzType="primary" nzSize="large" nzDanger nzBlock>
          Visit the National Hurricane Center
        </button>
      </div>

      <div nz-col nzSpan="8" class="section-footer-messageform">
        <h3><strong>Send us a message</strong></h3>
        <div class="form-container">
          <form nz-form [nzLayout]="'vertical'">
            <nz-form-item>
              <nz-form-control>
                <input
                  nz-input
                  formControlName="name"
                  placeholder="Name (Required)"
                />
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-control>
                <input
                  nz-input
                  formControlName="email"
                  placeholder="Email (Required)"
                />
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-control>
                <textarea
                  rows="10"
                  nz-input
                  formControlName="message"
                  placeholder="Message (Required)"
                ></textarea>
              </nz-form-control>
            </nz-form-item>

            <button nz-button nzBlock nzType="primary" nzDanger nzSize="large">
              Submit
            </button>

            <p>
              *Please excuse slower than normal response time during a storm
              event.
            </p>
          </form>
        </div>
      </div>
    </div>

    <!-- <qrisq-company-widget-group></qrisq-company-widget-group> -->
  </div>
</div>
