.container {
  width: 100%;
  height: 100%;
}

/* agm-map */
agm-map {
  height: 800px;
  width: 920px;
  max-width: 920px;
}

#select-map-layer {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  background-color: rgba(0, 0, 0, 0.7);
  width: 180px;
  height: 180px;
  margin: 20px;
  padding: 15px;
  text-align: left;
  h1 {
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    margin: 5px 0px 10px;
  }
  label {
    font-size: 0.8rem;
    font-weight: 500;
    color: #fff;
  }
  @media (max-width: 580px) {
    width: 140px;
    height: 140px;
    h1 {
      font-size: 0.75rem;
    }
    label {
      font-size: 0.6rem;
    }
  }
}

#select-map-layer [nz-icon] {
  font-size: 0.8rem;
  margin-bottom: 4px;
}

#select-map-layer [nz-icon] svg {
  vertical-align: super;
}

.anticon,
.anticon svg {
  vertical-align: baseline;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #b6da99;
  border-color: #b6da99;
}

#property-surge-risk {
  background-color: rgba(0, 0, 0, 0.7);
  margin: 10px;
  padding: 10px;
  @media (max-width: 580px) {
    img {
      width: 120px;
    }
  }
}

#legend-water-depth {
  background-color: rgba(0, 0, 0, 0.7);
  margin: 10px;
  width: 180px;
  img {
    margin-left: -3px;
  }
  @media (max-width: 580px) {
    width: 120px;
    img {
      margin-left: -20px;
      width: 230px;
    }
  }
}

#property-wind-risk {
  background-color: rgba(0, 0, 0, 0.7);
  margin: 10px;
  padding: 10px;
  z-index: 0;
  position: absolute;
  right: 0px;
  @media (max-width: 580px) {
    top: 0 !important;
  }
}

#select-map-layer .ant-btn {
  border: none;
}

#select-map-layer .ant-radio-wrapper {
  line-height: 2;
}

#select-map-layer .ant-radio {
  border: none;
}

.ant-btn-text:focus,
.ant-btn-text:hover {
  color: #40a9ff;
}

#map-settings .button {
  padding: 14px;
}

#map-settings .form {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 20px 14px;
  margin: 14px;
  width: 200px;
}

#map-settings .form .form-item h4 {
  color: #fff;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
}
