.container {
  width: 100%;
  height: 100%;
}

/* agm-map */
agm-map {
  width: 1024px;
  height: 800px;
}

#select-map-layer {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  background-color: rgba(0, 0, 0, 0.7);
  width: 180px;
  height: 180px;
  margin: 20px;
  padding: 15px;
  text-align: left;
}

#select-map-layer h1 {
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  margin: 5px 0px 10px;
}

#select-map-layer label {
  font-size: 0.8rem;
  font-weight: 500;
  color: #fff;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #b6da99;
  border-color: #b6da99;
}

#property-surge-risk {
  background-color: rgba(0, 0, 0, 0.7);
  margin: 10px;
  padding: 10px;
}

#legend-water-depth {
  background-color: rgba(0, 0, 0, 0.7);
  margin: 10px;
  width: 180px;
}

#legend-water-depth img {
  margin-left: -3px;
}

#property-wind-risk {
  background-color: rgba(0, 0, 0, 0.7);
  margin: 10px;
  padding: 10px;
}

[nz-radio] {
  display: block;
  height: 32px;
  line-height: 32px;
}
