<div class="container">
  <agm-map
    [latitude]="userLattitude"
    [longitude]="userLongitude"
    [restriction]="restriction"
    [zoom]="zoom"
    [mapTypeId]="'hybrid'"
    [disableDefaultUI]="true"
    (mapReady)="mapReady($event)"
  >
    <ng-container *ngIf="mode === 'summary'">
      <agm-data-layer
        [geoJson]="surgeGeoJSON"
        [style]="surgeStyleFunc"
      ></agm-data-layer>
      <agm-data-layer
        [geoJson]="lineGeoJSON"
        [style]="lineStyleFunc"
      ></agm-data-layer>

      <agm-data-layer
        [geoJson]="pointsGeoJSON"
        [style]="pointsStyleFunc"
      ></agm-data-layer>

      <agm-data-layer
        [geoJson]="polygonsGeoJSON"
        [style]="polygonsStyleFunc"
      ></agm-data-layer>

      <agm-polyline strokeColor="#fff" strokeWeight="3" zIndex="40">
        <agm-polyline-point
          [latitude]="userLattitude"
          [longitude]="userLongitude"
        >
        </agm-polyline-point>
        <agm-polyline-point
          [latitude]="stormLattitude"
          [longitude]="stormLongitude"
        >
        </agm-polyline-point>
      </agm-polyline>
    </ng-container>

    <ng-container *ngIf="mode === 'surge'">
      <agm-data-layer
        [geoJson]="surgeGeoJSON"
        [style]="surgeStyleFunc"
      ></agm-data-layer>
    </ng-container>

    <ng-container *ngIf="mode === 'wind'">
      <agm-data-layer
        [geoJson]="windGeoJSON"
        [style]="windStyleFunc"
      ></agm-data-layer>
    </ng-container>

    <div id="property-surge-risk">
      <ng-container *ngIf="mode === 'summary' || mode === 'surge'">
        <img src="assets/images/property-surge-risk.png" />
      </ng-container>
    </div>
    <div id="legend-water-depth">
      <ng-container *ngIf="mode === 'summary' || mode === 'surge'">
        <img src="assets/images/legend-water-depth.png" />
      </ng-container>
    </div>

    <div id="property-wind-risk">
      <ng-container *ngIf="mode === 'wind' || mode === 'vortex'">
        <img src="assets/images/property-wind-risk.png" />
      </ng-container>
    </div>

    <agm-marker
      [latitude]="userLattitude"
      [longitude]="userLongitude"
      [iconUrl]="levels[surgeRisk].iconUrl"
    >
    </agm-marker>

    <!-- [iconUrl]="getUserLocationIcon(surgeRisk)" -->

    <div id="select-map-layer">
      <h1>Select Map Layer</h1>
      <label
        nz-checkbox
        [(ngModel)]="isTrackAndConeChecked"
        [nzDisabled]="activeLayer === 'wind'"
        >Track and Cone</label
      >
      <nz-radio-group [(ngModel)]="activeLayer">
        <label nz-radio nzValue="surge">Storm Surge</label>
        <label nz-radio nzValue="wind">Max Winds</label>
        <label nz-radio nzValue="vortex">Wind Vortex </label>
      </nz-radio-group>
    </div>

    <div id="map-settings">
      <div class="container">
        <button
          nz-button
          nzType="text"
          nzShape="circle"
          nzSize="large"
          nzGhost
          (click)="onSettingsClick($event)"
        >
          <i nz-icon nzType="setting" nzTheme="outline"></i>
        </button>
      </div>
      <nz-modal
        [(nzVisible)]="isSettingsVisible"
        nzTitle="The first Modal"
        (nzOnCancel)="onSettingsCancel($event)"
        (nzOnOk)="onSettingsSubmit($event)"
      >
        <ng-container *nzModalContent>
          <form nz-form>
            <nz-form-item>
              <nz-form-label [nzSpan]="6" nzFor="email">E-mail</nz-form-label>
              <nz-form-control [nzSpan]="14">
                <input nz-input name="email" type="email" id="email" />
              </nz-form-control>
            </nz-form-item>
          </form>
        </ng-container>
      </nz-modal>
    </div>
  </agm-map>
</div>
