nz-header {
  height: 138px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #262626;
}

nz-layout {
  background-image: -webkit-linear-gradient(
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url('../../assets/images/hurricane-bg.jpg');
  background-image: -moz-linear-gradient(
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url('../../assets/images/hurricane-bg.jpg');
  background-image: -o-linear-gradient(
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url('../../assets/images/hurricane-bg.jpg');
  background-image: -ms-linear-gradient(
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url('../../assets/images/hurricane-bg.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%),
    url('../../assets/images/hurricane-bg.jpg');
  background-repeat: no-repeat;
  min-height: 100vh;
}

nz-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

nz-card {
  /* background-color: fade(#000, 50%); */
  background: rgba(0, 0, 0, 0.5);
  border: none;
  text-align: center;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  color: #fff;
  margin: 30px;
  width: 600px;
  /* padding: 30px; */
  /* max-width: 70%;  */
}

.form-label {
  color: white;
  font-family: 'Rubik', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans',
    Arial, sans-serif;
}

nz-col {
  padding: 50px;
}
