/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Roboto';
  src: url(./assets/fonts/Roboto.ttf) format('truetype'),
    url(./assets/fonts/Roboto-Bold.ttf) format('truetype') font-weight-bold;
}

@font-face {
  font-family: 'Muli';
  src: local('Muli'), url(./assets/fonts/Muli.ttf) format('truetype');
}

:root {
  font-family: Rubik, Arial, Helvetica, sans-serif;
}
