/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Roboto';
  src: url(./assets/fonts/Roboto.ttf) format('truetype'),
    url(./assets/fonts/Roboto-Bold.ttf) format('truetype') font-weight-bold;
}

@font-face {
  font-family: 'Muli';
  src: local('Muli'), url(./assets/fonts/Muli.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  src: url(./assets/fonts/OpenSans-Regular.ttf) format('truetype'),
    url(./assets/fonts/OpenSans-Bold.ttf) format('truetype') font-weight-bold;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0;
}

app-root {
  min-width: 100%;
}
