/* container  */

.container {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.storm-data {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.storm-name {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 800;
  font-family: Oswald, Arial, Courier, monospace;
  margin-bottom: 5px;
}

.storm-name img {
  height: 1.8rem;
  margin-right: 4px;
}

.user-address {
  font-size: 1.5rem;
  font-weight: 800;
  padding-left: 8px;
  font-family: Oswald, Arial, Courier, monospace;
}

.user-address i {
  font-size: 1.4rem;
  margin-left: 4px;
}

.surge-level {
  font-size: 2.3rem;
  font-weight: 750;
  text-decoration: underline;
  margin-bottom: 4px;
}

.surge-level .risk {
  font-size: 2.3rem;
  text-decoration: underline;
}

.surge-level .level {
  font-size: 1.5rem;
  font-family: Oswald, Arial, Courier, monospace;
}

.advisory-date {
  font-size: 1.5rem;
  font-weight: 750;
}

.landfall-expected {
  margin-top: 18px;
  font-family: Oswald, Arial, Courier, monospace;
}

.landfall-expected h2 {
  font-size: 2rem;
  font-weight: 750;
  margin-bottom: 5px;
}

.landfall-expected h4 {
  font-size: 1.5rem;
  font-weight: 750;
}
