/* main-container */

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fff;
}

/* qr-banner */

qr-banner .banner-content {
  padding-right: 50%;
}

qr-banner h1 {
  color: #fff;
  font-size: 4rem;
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin-bottom: 1rem;
}

qr-banner p {
  color: #fff;
  font-size: 1.4rem;
  font-family: Oswald, Arial, Helvetica, sans-serif;
}

/* page-content */

.page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 92%;
  margin: auto;
  padding-bottom: 1%;
  background-size: contain;
  background-image: url('/assets/images/bg-graph.png') !important;
  background-repeat: no-repeat;
  background-position: left top;
}

/****** storm-section ******/
.storm-section {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/****** storm-data ******/

.storm-data {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

.storm-data .storm-name {
  font-size: 1.8rem;
  line-height: 2rem;
  font-weight: 600;
}

.storm-data .storm-name img {
  height: 1.8rem;
  margin-right: 8px;
}

.storm-data .user-address {
  font-size: 1.2rem;
  font-weight: 600;
  padding-left: 8px;
}

.storm-data .user-address i {
  font-size: 1.4rem;
  margin-left: 4px;
}

.storm-data .max-winds {
  font-size: 2rem;
  font-weight: 700;
  text-decoration: underline;
}

.storm-data .max-winds .desc {
  font-size: 2rem;
  text-decoration: underline;
}

.storm-data .max-winds .speed {
  font-size: 1.5rem;
}

.storm-data .advisory-date {
  font-size: 1.3rem;
  font-weight: 600;
}

.storm-section {
  width: 100%;
}

/* section-storm-data */

.section-storm {
  width: 100%;
  padding-top: 1%;
  padding-bottom: 4%;
}

.section-storm .col-1 {
  width: 100%;
}

.section-storm .col-1 h1,
.section-storm .col-1 h3 {
  text-align: center;
}

/* footer */

.section-footer {
  width: 100%;
  padding-top: 65px;
  margin-top: -24px;
}

nz-divider {
  border-top: 2px solid #000;
}

.next-forecast-container {
  margin-top: 30px;
  text-align: center;
  width: 100%;
}

.next-forecast-container h4 {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 5px;
}

.next-forecast-container p {
  font-size: 1.3rem;
  font-weight: 500;
}

.loadingContainer {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[qr-storm-map] {
  width: 1400px;
}
