<div class="container">
  <div class="service-card">
    <h5>Our Services</h5>
    <img nz-image nzSrc="/assets/images/ourServices.jpg" alt="" />
    <p>
      Knowledge is power. Know what to expect before a storm makes landfall,
      afterward, understand the impact of winds and storm surge with data from
      Q-ris Analytics.
    </p>
    <button nz-button nzBlock nzSize="large" nzDanger nzType="primary">
      Learn More About Our Services
    </button>
  </div>

  <div class="service-card">
    <h5>Track Storm Activity</h5>
    <img nz-image nzSrc="/assets/images/track-storm.jpg" alt="" />
    <p>
      Stay current on storm activity with the National Hurricane Center's
      up-to-date weather information for tropical storms and hurricanes.
    </p>
    <button nz-button nzBlock nzSize="large" nzDanger nzType="primary">
      Learn More About Our Services
    </button>
  </div>

  <div class="contact-card">
    <h5>Send us a message</h5>
    <div class="contact-form">
      <form nz-form [nzLayout]="'vertical'">
        <nz-form-item>
          <nz-form-control>
            <input
              nz-input
              formControlName="name"
              placeholder="Name (Required)"
            />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control>
            <input
              nz-input
              formControlName="email"
              placeholder="Email (Required)"
            />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control>
            <textarea
              rows="4"
              nz-input
              formControlName="message"
              placeholder="Message (Required)"
            ></textarea>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
    <button nz-button nzBlock nzType="primary" nzDanger nzSize="large">
      Submit
    </button>
  </div>
</div>
